*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/* font-family: "Roboto", sans-serif; */
/* font-family: "Roboto", sans-serif; */
}
.container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    position: absolute;

}
.login_page{
    margin-left: 450px;
    margin-top: 150px;
    padding: 40px;
    width: 400px;
    height: 350px;
   
    background-color: rgb(234, 222, 222);
}
img{
    margin-bottom: 15px;
}
h1{
    margin-bottom: 15px;   
}
input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid ;
    width: 100%;
    height: 25px;
    
}
p{
    margin-bottom: 15px;

}
button{
    margin-left: 50px;
    margin-bottom: 55px;
    background-color: blue;
    color: aliceblue;
    width: 95px;
    height: 45px;
}